---
import collegeImg from "@img/college.jpg"
---


<div class="flex mx-4 mt-10 p-10 justify-between gap-5 ">
    <div class="flex flex-col gap-2 w-2/3">

        <h2 class=" text-3xl text-blue-600 font-bold mt-0 uppercase ">Budhanilkantha Secondary School</h2>
        <p class="text-lg p-2">
            Budhanilkantha Secondary School, is emerging as a centre of excellence for quality education and training. The courses it offers on multi-disciplinary areas aims at improving the potentiality of students besides developing their capacity to tackle real-life problems. Budhanilkantha Secondary School programmes are enhanced by developing and maintaining partnerships with business, industry and the community.Budhanilkantha Secondary School faculties are dedicated to teaching, advising/mentoring, research, regular evaluation and feedback.
        </p>
        <button class="btn btn-error self-start font-bold  ">Continue Reading</button>

    </div>
    <div class="img w-1/3">
        <img src={collegeImg} class="h-96" alt="">
    </div>


</div>