---
import collegeImg from "@img/college.jpg"
---


<div class="flex">
    <div class="flex flex-col gap-2">
        <h1>About Us</h1>
        <h2>Budhanilkantha Secondary School</h2>
        <p>
            Budhanilkantha Secondary School, is emerging as a centre of excellence for quality education and training. The courses it offers on multi-disciplinary areas aims at improving the potentiality of students besides developing their capacity to tackle real-life problems. Budhanilkantha Secondary School programmes are enhanced by developing and maintaining partnerships with business, industry and the community.Budhanilkantha Secondary School faculties are dedicated to teaching, advising/mentoring, research, regular evaluation and feedback.
        </p>
    </div>

    <img src={collegeImg} class="h-64" alt="">

</div>