---
---

<footer>
	<div class="bg-red-700 text-center text-white py-3">
		Copyright &copy;
		<span>2023 All Rights Reserved by <span class="font-bold text-lg underline">Budhanilkantha Secondary School</span>.Designed & Developed By <a class="underline text-black font-bold" href="https://madanbajgai.com.np">MadanBazgai</a></span>
	</div>
</footer>
